<nav class="navbar fixed-top py-3 px-3 mb-0 bg-primary text-white navbar-expand-sm">
    <!--Logo-->
    <div class="ml-4 mt-1">
      <a href="/index.html">
        <h3 class="text-white">Amanda Nef</h3>
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarLinks">
      <span class="navbar-toggler-icon">
        <i class="fas fa-bars text-white mt-1"></i>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a href="/index.html" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/components/about.html" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/components/portfolio.html" class="nav-link">Portfolio</a>
        </li>
        <li class="nav-item">
          <a href="/components/contact.html" class="nav-link">Contact</a>
        </li>
        <span>
        </span>
        <li class="nav-item">
          <a href="/downloadable/Amanda Nef Resume 2023.pdf" download class="nav-link">Resumé</a>
        </li>
      </ul>
    </div>
  </nav>